/* OrgChart.css */
.diagram-div {
  background-color: white;
  box-shadow: 1px 1px #888888;
  border-radius: 5% 3% 3% 3%;
  box-shadow: inset 2px 2px 5px #b8b9be,
    inset -3px -3px 7px #fff !important;
  display: flex;
  flex-direction: column;
  width: 62vw;
  height: 80%;
  margin: 10px 20vw;
  padding: 5px;
}

.diagram-component {
  border: none black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 2px;
  /* background-color: #696969;  */
  padding: 5vw;
  width: 60vw;
  height: 400px;
}

.diagram-legend-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}