.formation-title {
  text-align: center;
  margin: 1% 0 1% 0;
}

input[type="text"].formation-body {
  margin: 2%;
  border-right: "10px solid" + text;

}

.formation-submenu {
  margin: 2% 2% 5% 2%;
}


.formation-submenu-title {
  margin: 15px;
}


.buttons-sticky {
  position: sticky;
  top: 0px;
  background-color: white;
  padding: 5px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}