.formation-title {
    text-align: center;
    margin: 1% 0 1% 0;
  }

.formation-body {
    margin: 2%;
  }

.formation-submenu {
    margin: 15px;
}
.formation-submenu-title {
    margin: 15px;
}
/* .formation-download{

} */
