.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bg {
  /* background-image: url("images/backgroundDark.svg"); */
  background-image: url("images/background_gray.svg");
  margin-top: calc(20vh - 93px);
  margin-bottom: calc(20vh - 93px);
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* goJs */
.diagram-component {
  position: relative;
  /* max-width: calc(100vw - 30px); */
  max-width: 100%;
  margin: 0px;
  /* overflow: hidden; */
  background-color: white;
  border: 0cm;
}

.body {
  margin: 0 4% 0 4%;
}
